:root {
    --header-height: 3rem;
    /* color for changement favorite color */
    --hue-color: 190;
    color: #14505c;
    /* hsl color mode */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.50rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* margenes bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Hover Overlay */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);

    --poppins: 'Poppins', sans-serif;


    @media screen and (min-width: 968px) {
        :root {
            --biggest-font-size: 4rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.75rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: var(--white-color)   ;
}

.form_center {
    font-family: var(--poppins);
    background-image: url(./img/connexion_bg_img.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -4;

}

.form {
    position: relative;
    z-index: 1;
}


form {
    background-color: rgba(225, 225, 225, .5);
    padding: 3rem;
    height: auto;
    width: 400px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 20px;
    border-left: 1px solid rgba(225, 225, 225, .5);
    border-top: 1px solid rgba(225, 225, 225, .5);

    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 1);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* -moz-backdrop-filter: blur(10px); */
}

form h1 {
    font-family: var(--poppins);
    color: var(--first-color);
    font-weight: 800;
    padding-top: 1rem;
    margin-bottom: var(--mb-2);
}
form a {
    margin-top: 1rem;
    text-decoration: none;

}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mt-1);
}
.separator hr {
    width: 100px;
    color: var(--white-color);
}
.separator p {
    margin: 0 20px;
    color: var(--white-color);
    
}

.accounts {
    margin-top: var(--mt-2);
    align-items: center;
}

.google_account {
    margin-bottom: var(--mb-1);
}
.google_account a {
    background-color: var(--white-color);
    padding: 12px 32px;
    border-radius: 45px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.google_account a img {
    margin-right: 10px;
}

.microsoft_account a {
    background-color: var(--white-color);
    padding: 12px 22px;
    border-radius: 45px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.microsoft_account a img {
    margin-right: 10px;
}

.account a {
    transition: var(--img-transition)
}

.account a:hover {
    background-color: white;
    opacity: .6;
    
}

.drop {
    background-color: rgba(225, 225, 225, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
    border-radius: 10px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .5);
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}
.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -50px;
    right: 10px
}
.drop-3 {
    height: 120px;
    width: 120px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
}
.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -50px;
}
.drop-5 {
    height: 60px;
    width: 120px;
    top: 300px;
    left: -90px;
    z-index: var(--mb-1);
}

/* img  */
.img{
    height: auto;
    width: 400px;
    
}