:root {
    --header-height: 3rem;
    /* color for changement favorite color */
    --hue-color: 190;
    color: #14505c;
    /* hsl color mode */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.50rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 900;

    /* margenes bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* margenes bottom */
    --mt-0-25: .25rem;
    --mt-0-5: .5rem;
    --mt-0-75: .75rem;
    --mt-1: 1rem;
    --mt-1-25: 1.25rem;
    --mt-1-5: 1.5rem;
    --mt-2: 2rem;
    --mt-2-5: 2.5rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Hover Overlay */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);

    --poppins: 'Poppins', sans-serif;


    @media screen and (min-width: 968px) {
        :root {
            --biggest-font-size: 4rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.75rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 19px;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: calibri;
}

a {
    text-decoration: none;
    color: var(--white-color)   ;
}

/* sections Base */

.signup_section{
    background-image: url(./img/form_section_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-center{
    display: flex;
    height: 550px;
    width: 1300px;
    /* background-color:#C4DFDF;  */
    backdrop-filter: blur(25px);
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 6px 2px 20px black;
}

/* ########left######### */
.left {
display: flex;
flex-basis: 30%;
flex-flow: column;
justify-content: center;
align-items: center;
}

.left h1 {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    font-family: var(--poppins);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1-5);
}

.left p {
    font-size: 17px;
    color: var(--white-color);
    font-family: var(--poppins);
    margin-bottom: var(--mb-0-75);
}

.left .accounts {
    margin-top: var(--mt-2);
    align-items: center;
}

.left .google_account {
    margin-bottom: var(--mb-2);
}

.left .google_account a {
    background-color: var(--white-color);
    padding: 12px 32px;
    border-radius: 45px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.left .google_account a img {
    margin-right: 10px;
}

.left .microsoft_account a {
    background-color: var(--white-color);
    padding: 12px 22px;
    border-radius: 45px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.left .microsoft_account a img {
    margin-right: 10px;
}

.left .account a {
    transition: var(--img-transition)
}

.left .account a:hover {
    background-color: white;
    opacity: .6;
    
}

.left .separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mt-1);
}

.left hr {
    width: 100px;
    color: var(--white-color);
}

.left p {
    margin: 0 20px
}

.left .connexion_option {
    margin-top: var(--mt-1-5);
}

.left .connexion_option a {
    text-decoration: none;
}

/* ######## left End ######### */

/* ########Right######### */
.right {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

.radios label {
    color: skyblue;
}

.form-group {
    width: 100%;
    padding: 2rem 5rem;
    font-family: var(--poppins);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    font-size: 17px;

}
/* .form-group label {
    font-size: 17px;
    
} */


.right .grid {
    display: flex;
    justify-content: space-between;
}

.row-cols-2 {
    display: flex;
    align-items: center;
}
.valid_condition {
    color: skyblue;
}
.btn.btn-primary {
    margin-left: 200px;
}

.form-check h5 {
    color: black;
}
.radios {
    display: flex;
}
.radios .radio {
    margin-right: 30px;
}
/* ########Right End######### */
